<div ng-init="populate()">
    <p class="error">{{error}}</p>
    <p>{{loadingMessage}}</p>
    <div class="panel">


        <!-- Display list of items and search for max item given item name
        ================================================== -->
        <div class="d-flex justify-content-center ">
            <div class="container-fluid">
            <!-- <div class="container" style="border:1px solid #cecece; margin:30px; padding:30px;"> -->
                <!-- Search Max Price by Item Name
        ================================================== -->
                <div class="form-row align-items-center">
                    <h5>Enter item name to get max price:</h5>
                    <div class="col-sm-3 my-1">
                        <label class="sr-only" for="inlineFormInputName">Item Name</label>
                        <input ng-model="searchName" class="form-control" id="inlineFormInputName"
                        type="text" required=""  placeholder="ItemName">
                    </div>
                    <div class="col-auto my-1">
                        <button ng-click="showMaxByName();" class="btn btn-dark" id="validateSearch">Search</button>
                    </div>
                </div>
                <br />

                <!-- Add Item
            ================================================== -->

                <div class="form-row align-items-center">
                    <h5>Add Item:</h5>
                    <div class="col-sm-3 my-1">
                        <label class="sr-only" for="inlineFormAddItem">Item Name</label>
                        <input ng-model="newToDoName" class="form-control" id="inlineFormAddItem" type="text" required=""  placeholder="ItemName">
                    </div>

                    <div class="col-sm-3 my-1">
                        <label class="sr-only">Cost</label>
                        <input ng-model="newToDoCost" class="form-control costValue" type="text" required="" placeholder="$0"> 
                    </div>
                    <div class="col-auto my-1">
                        <button ng-click="add();" class="btn btn-dark" id="validateAdd">Add</button>
                    </div>
                </div>

                <br />
                <!-- Display Table With List Of Items
            ================================================== -->
                <!-- <table class="table table-striped" id="navigateTable" style="border:1px solid #cecece;">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Item Name</th>
                            <th>Cost</th>
                            <th>Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in todoList">
                            <td>
                                <span>{{item.id}}</span>
                            </td>
                            <td>
                                <span>{{item.name}}</span>
                                <input data-ng-show="item.edit" class="form-control nameValueEdit" type="text" data-ng-model="editInProgressTodo.name"
                                 required=""/>
                            </td>
                            <td>
                                <span>{{item.cost}}</span>
                                <input data-ng-show="item.edit" class="form-control costValueEdit" type="text" data-ng-model="editInProgressTodo.cost"
                                 required=""/>
                            </td>
                            <td>
                                <p data-ng-hide="item.edit || editingInProgress">
                                    <a data-ng-click="editSwitch(item)" href="javascript:;">Edit</a> |
                                    <a data-ng-click="delete(item.id)" href="javascript:;">Delete</a></p>

                                <p data-ng-show="item.edit"><a data-ng-click="update(item)" href="javascript:;">Save</a>
                                    <a data-ng-click="editSwitch(item)" href="javascript:;">Cancel</a></p>
                            </td>
                        </tr>
                    </tbody>

                </table> -->
            

            <!-- <div class='wrapper text-center'>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle dr-breakout-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Show:
                    </button>
                    <ul class="dropdown-menu dr-breakout">
                        <li>
                            <a role="button" ng-click="showMax();";>Max Prices</a>
                        </li>
                        <li>
                            <a role="button" ng-click="populate();">All Items</a>
                        </li>
                    </ul>
                  </div>
            </div> -->


            </div>
        </div>






        <table class="table table-striped" id="navigateTable" style="border:1px solid #cecece;">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Item Name</th>
                    <th>Cost</th>
                    <th>Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in todoList">
                    <td>
                        <span>{{item.id}}</span>
                    </td>
                    <td>
                        <span>{{item.name}}</span>
                        <input data-ng-show="item.edit" class="form-control nameValueEdit" type="text" data-ng-model="editInProgressTodo.name"
                         required=""/>
                    </td>
                    <td>
                        <span>{{item.cost}}</span>
                        <input data-ng-show="item.edit" class="form-control costValueEdit" type="text" data-ng-model="editInProgressTodo.cost"
                         required=""/>
                    </td>
                    <td>
                        <p data-ng-hide="item.edit || editingInProgress">
                            <a data-ng-click="editSwitch(item)" href="javascript:;"><span class="glyphicon glyphicon-pencil"></span></a> |
                            <a data-ng-click="delete(item.id)" href="javascript:;"><span class="glyphicon glyphicon-remove-circle"></span></a></p>

                        <p data-ng-show="item.edit"><a data-ng-click="update(item)" href="javascript:;">Save</a>
                            <a data-ng-click="editSwitch(item)" href="javascript:;">Cancel</a></p>
                    </td>
                </tr>
            </tbody>

        </table>





            <div class='wrapper text-center'>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle dr-breakout-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Show:
                    </button>
                    <ul class="dropdown-menu dr-breakout">
                        <li>
                            <a role="button" ng-click="showMax();";>Max Prices</a>
                        </li>
                        <li>
                            <a role="button" ng-click="populate();">All Items</a>
                        </li>
                    </ul>
                  </div>
            </div>




    </div>
    <!--div class panel -->
</div>
<!--div populate() -->

<script>
    //validation - item name cannot be empty on add
    $('#validateAdd').click(function () {
        // Get the value
        var name = $('#inlineFormAddItem').val();
        // Check if empty
        if (name.length < 1) {
            alert('Item name cannot be empty.');
            return false;
        }
    });

    // validation - item name cannot be empty on search
    $('#validateSearch').click(function () {
        // Get the value
        var search = $('#inlineFormInputName').val();
        // Check if empty 
        if (search.length < 1) {
            alert('Item name cannot be empty.');
            return false;
        }
    });

    //validation on cost input to take only int values
    $('input.costValue').on('input', function() {
        this.value = this.value.replace(/[^0-9.]/g,'').replace(/[^\d]/,'');
    });

    //validation on cost edit value to take only int values
    $('input.costValueEdit').on('input', function() {
        this.value = this.value.replace(/[^0-9.]/g,'').replace(/[^\d]/,'');
    });

    //validation on name edit to take only letters and numbers
    $('input.nameValueEdit').on('input', function() {
        this.value = this.value.replace(/[^a-z0-9.]/gi,'').replace(/[^\d]/,'');
    });
</script>