<div ng-init="populate()">
    <p class="error">{{error}}</p>
    <p>{{loadingMessage}}</p>
    <div class="panel">


        <!-- Display list of items and search for max item given item name
        ================================================== -->
        <div class="d-flex justify-content-center ">
            <!-- <div class="container-fluid" style="border:1px solid #cecece; margin:30px; padding:30px;"> -->
            <div class="container" style="border:1px solid #cecece; margin:30px; padding:30px;">
                <!-- Search Max Price by Item Name
        ================================================== -->
                <div class="form-row align-items-center">
                    <h5>Enter item name to get max price:</h5>
                    <div class="col-sm-3 my-1">
                        <label class="sr-only" for="inlineFormInputName">Item Name</label>
                        <input ng-model="searchName" class="form-control" id="inlineFormInputName"
                            placeholder="ItemName">
                    </div>
                    <div class="col-auto my-1">
                        <button ng-click="showMaxByName();" class="btn btn-dark" id="validateSearch">Search</button>
                    </div>
                </div>
                <br />

                <!-- Add Item
            ================================================== -->

                <div class="form-row align-items-center">
                    <h5>Add Item:</h5>
                    <div class="col-sm-3 my-1">
                        <label class="sr-only" for="inlineFormAddItem">Item Name</label>
                        <input ng-model="newToDoName" class="form-control" id="inlineFormAddItem" placeholder="ItemName">
                    </div>

                    <div class="col-sm-3 my-1">
                        <label class="sr-only">Cost</label>
                        <input ng-model="newToDoCost" class="form-control">
                    </div>
                    <div class="col-auto my-1">
                        <button ng-click="add();" class="btn btn-dark" id="validateAdd">Add</button>
                    </div>
                </div>

                <br />
                <!-- Display Table With List Of Items
            ================================================== -->
                <table class="table table-striped" id="navigateTable" style="border:1px solid #cecece;">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Item Name</th>
                            <th>Cost</th>
                            <th>Edit/Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in todoList">
                            <td>
                                <span>{{item.id}}</span>
                            </td>
                            <td>
                                <span>{{item.name}}</span>
                                <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.name"
                                    class="form-control" />
                            </td>
                            <td>
                                <span>{{item.cost}}</span>
                                <input data-ng-show="item.edit" type="text" data-ng-model="editInProgressTodo.cost"
                                    class="form-control" />
                            </td>
                            <td>
                                <p data-ng-hide="item.edit || editingInProgress">
                                    <a data-ng-click="editSwitch(item)" href="javascript:;">Edit</a> |
                                    <a data-ng-click="delete(item.id)" href="javascript:;">Delete</a></p>

                                <p data-ng-show="item.edit"><a data-ng-click="update(item)" href="javascript:;">Save</a>
                                    <a data-ng-click="editSwitch(item)" href="javascript:;">Cancel</a></p>
                            </td>
                        </tr>
                    </tbody>

                </table>

            
                <div class="btn-group" role="group" aria-label="Basic example">
                    <!-- Display the max price for each item in the list-->
                    <button ng-click="showMax();" class="btn btn-default">Show Max Prices</button>
                    <!-- Display all items in the list-->
                    <button ng-click="populate();" class="btn btn-default">Show All Items</button>
                </div>




                
            </br>

                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle dr-breakout-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Show <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dr-breakout">
                        <li>
                            <button ng-click="showMax();" class="btn btn-default">Max Prices</button>
                        </li>
                        <li>
                            <button ng-click="populate();" class="btn btn-default">All Items</button>
                        </li>
                    </ul>
                  </div>








<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->








            </div>
        </div>

    </div>
    <!--div class panel -->
</div>
<!--div populate() -->

<script>
    //  Bind the event handler to the "submit" JavaScript event
    $('#validateAdd').click(function () {
        // Get the value
        var name = $('#inlineFormAddItem').val();
        // Check if empty
        if (name.length < 1) {
            alert('Item name cannot be empty.');
            return false;
        }
    });

    $('#validateSearch').click(function () {
        // Get the value
        var search = $('#inlineFormInputName').val();
        // Check if empty 
        if (search.length < 1) {
            alert('Item name cannot be empty.');
            return false;
        }
    });
</script>